@{
    ViewData["Title"] = "Future Outlook";
    ViewData["PageClass"] = "future-page";
}

@section styles {
    <link rel="stylesheet" href="~/css/future.css" asp-append-version="true" />
}

<div class="future-page">
    <section class="contact-about-section text-light">
        <div class="container-fluid px-0 py-5">
            <h1 class="main-heading">The Future We Create</h1>
            <h3 class="sub-heading">Next 15 years of AI in Sustainability...</h3>
        </div>
    </section>

    <section class="future-description-section">
        <div class="container-fluid px-5">
            <div class="row text-center mt-4 gx-5 gy-4">
            
                <div class="col-md-4 image-box">
                    <img src="/images/future1.jpg" alt="Future Image 1" class="img-fluid rounded shadow">
                    <div class="text-box mt-3">
                    <p>Artificial Intelligence will assist in optimizing renewable energy systems for maximum efficiency.</p>
                    </div>
                </div>

                <div class="col-md-4 image-box">
                    <img src="/images/future2.jpg" alt="Future Image 2" class="img-fluid rounded shadow">
                    <div class="text-box mt-3">
                    <p>Machine learning models will help predict environmental changes and improve sustainability planning.</p>
                    </div>
                </div>

                <div class="col-md-4 image-box">
                    <img src="/images/future3.jpg" alt="Future Image 3" class="img-fluid rounded shadow">
                    <div class="text-box mt-3">
                    <p>AI technology will continue reduce waste by analyzing production processes and identifying inefficiencies.</p>
                    </div>
                </div>

            </div>
        </div>
        </section>

</div>