body.contact-page{
    background-image: url('/images/background1.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
}

.contact-about-section {
    color: #333;
    font-family: 'Lato', sans-serif;
    padding-top: 40px;
    padding-bottom: 20px;
}

.main-heading {
    font-family: 'Anton', sans-serif;
    font-size: 4vw;
    color: #08f850;
    text-shadow: 2px 2px 0px navy, 2px 2px 4px white;
    text-align: center;
    margin-bottom: 20px;
}

.contact-box {
    height:250px;
    color:white;
    background-color: #100c3c70;
    border: 1px solid white;
    box-shadow: 7px 7px #94b44f;
    backdrop-filter:blur();
}

.contact-box h3 {
    font-family: 'Anton', sans-serif;
    color: rgb(0, 255, 64); 
    margin-bottom: 15px;
}

.contact-box a {
    color: #00ffff;
    text-decoration: underline;
}