body.future-page{
    background-image: url('/images/background2.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
    width: 100%;
}

.main-heading {
    font-family: 'Anton', sans-serif;
    font-size: 4vw;
    color: #25fd42;
    text-align: center;
    margin-bottom: 5px;
}

.sub-heading{
   font-family: 'Anton',sans-serif; 
   text-shadow: 2px 2px0px navy, 2px 2px 4px white; 
   color:#08f880; 
   font-size: 2em;
   text-align: center;
}

.future-description-section {
  padding: -5rem 0;
}

.image-box {
  color: #333;
}

.image-box img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border: 2px solid #ddd;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-box img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.image-box p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 1rem;
  color:white;
  padding:2rem 0;
}

.text-box {
  background-color: transparent;  
  border: 1px solid white;        
  padding: 20px 25px;
  margin: 10px auto;
  width: 90%;
  color: white; 
  backdrop-filter: blur(6px);                  
}

.text-box p {
  font-family: 'Lato', sans-serif;
  font-size: 1.2vw;
  color: white;
  line-height: 1.5;
  margin-bottom: 1rem;
}
