html {
  font-size: 14px;
}

@media (min-width: 576px)and(max-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction:column;
  background-image: url('/images/background2.jpg'); 
  background-size: cover;      
  background-position: center;  
  background-repeat: no-repeat;
  background-attachment: fixed;
}
main {
  flex: 1;
} 

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.home-page{
  text-align: center;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}
